
<!-- <section class="feature-area ptb-100"> -->

    <section class="about-style-two about-style-three pt-100 pb-70">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 p-0">
                    <div class="about-img">
                        <img src="assets/img/maz1.png" alt="about image">
                    </div>
                </div>
    
                <div class="col-lg-6">
                    <div class="about-text">   
                        <div class="section-head">
                            <h3 style="font-size:30px"> Heavy Duty Plasma Cutting Machine
                            </h3>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="feature-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <h2>Machineries for Fabrication & Finish Supports</h2>
                        <p></p>
                    </div>
                    <ul>
                        <li>•  MIG Matic Welding machine, Inverter based-14nos</li><br>
                        <li>•  TIG Welding Machine – 1no </li><br>
                        <li>•  Radial Drilling Machine (50MM)-1 no</li><br>
                        <li>•  Pillar type Drilling Machine(38MM) – 1no</li><br>
                        <li>•  Air compressors-2no</li><br>
                        <li>•  Arc welding machine (Portable)-1no</li><br>
                        <li>•  Cut-off machine -2nos</li><br>
                        <li>•  Hand drill-3nos</li>
                        </ul>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="recent-img">
                        <img src="assets/img/mac2.png" alt="project image" alt="recent" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <h2> Lathe Machine</h2>
                    </div>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="recent-img">
                        <img src="assets/img/ba.png" alt="project image" alt="recent" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <h2> Heavy Duty Radial Drilling Machine</h2>
                    </div>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="recent-img">
                        <img src="assets/img/drill.png" alt="project image" alt="recent" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <h2> Vertical Turning Machine</h2>
                    </div>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="recent-img">
                        <img src="assets/img/vpm.png" alt="project image" alt="recent" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <h2> Horizontal Boring Machine</h2>
                    </div>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="recent-img">
                        <img src="assets/img/hrm1.png" alt="project image" alt="recent" />
                </div>
            </div>
        </div>
    </div>
</section>
