
<!-- <section class="feature-area ptb-100"> -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <!-- <span>Features of our company </span> -->
                        <h1>Inspection Supports </h1>
                        <p></p>
                    </div>
                    <!-- <ul>
                        <li>• Surface table-Size-3100mm x 6300mm</li><br>
                        <li>• Instruments</li><br>
                        <li>• 0-150 mm VERNIER CALIPER - MITUTOYO</li><br>
                        <li>• 0-150 mm VERNIER CALIPER - MITUTOYO (Digital) </li><br>
                        <li>• 0-300 mm VERNIER CALIPER – INSIZE (DIAL)</li><br>
                        <li>• 0 – 1000 mm VERNIER CALIPER – INSIZE (DIGITAL)</li><br>
                        <li>• 0 – 2000 mm VERNIER CALIPER – INSIZE</li><br>
                        <li>• 0 -1000 mm STICK MICROMETER- MITUTOYO</li><br>
                        <li>• 0-200 mm MICRO METER - MITUTOYO</li><br>
                        <li>• 0-300 mm HEIGHT GUAGE - MITUTOYO</li>
                        </ul> -->
                    </div>
            </div>
            <div class="col-lg-6">
                <div class="recent-img">
                    <img src="assets/img/mac1.png" alt="project image" alt="recent" />
            </div>
        </div>
        </div>
    </div>
<!-- </section> -->
<section class="feature-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <h2>Machineries for Fabrication & Finish Supports</h2>
                        <p></p>
                    </div>
                    <ul>
                        <li>•  MIG Matic Welding machine, Inverter based-14nos</li><br>
                        <li>•  TIG Welding Machine – 1no </li><br>
                        <li>•  Radial Drilling Machine (50MM)-1 no</li><br>
                        <li>•  Pillar type Drilling Machine(38MM) – 1no</li><br>
                        <li>•  Air compressors-2no</li><br>
                        <li>•  Arc welding machine (Portable)-1no</li><br>
                        <li>•  Cut-off machine -2nos</li><br>
                        <li>•  Hand drill-3nos</li>
                        </ul>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="recent-img">
                        <img src="assets/img/mac2.png" alt="project image" alt="recent" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <h2> Lathe Machine</h2>
                    </div>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="recent-img">
                        <img src="assets/img/lath.jpeg" alt="project image" alt="recent" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <h2> Heavy Duty Radial Drilling Machine</h2>
                    </div>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="recent-img">
                        <img src="assets/img/Drilling machine.png" alt="project image" alt="recent" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <h2> Vertical Turning Machine </h2>
                    </div>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="recent-img">
                        <img src="assets/img/VTM.jpeg" alt="project image" alt="recent" />
                </div>
            </div>
        </div>
    </div>
</section>
